/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
